*.log

# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
venv/

# Ключи
.env

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
*.py,cover
.cache/

banners/